################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/lab4_6/.vs/lab4_6/DesignTimeBuild
*.v2
